<div class="sign-in">
	<div class="sign-in__card">
		<div class="sign-in__brand">
			<img class="sign-in__brand-mark" height="32" width="32" src="/icons/favicon-32x32.png" alt="" />
			<span class="sign-in__brand-text">{{ appTitle }}</span>
		</div>
		<button type="button" mat-flat-button color="primary" class="sign-in__airtable-btn" (click)="signInWithAirtable()">
			<img matButtonIcon class="sign-in__airtable-icon" src="/images/airtable-icon.png" alt="" width="20" height="20" loading="lazy" />
			Sign in with Airtable
		</button>
	</div>
</div>
