<h2 mat-dialog-title>Airtable account credentials</h2>
<mat-dialog-content>
	@switch (step()) {
		@case ('credentials') {
			<form class="airtable-credentials-dialog__form">
				@if (errorMessage()) {
					<div class="airtable-credentials-dialog__error">
						<mat-icon>error_outline</mat-icon>
						<span>{{ errorMessage() }}</span>
					</div>
				}
				<mat-form-field appearance="outline">
					<mat-label>Email</mat-label>
					<input matInput type="email" autocomplete="email" [formControl]="emailControl" />
				</mat-form-field>
				<mat-form-field appearance="outline">
					<mat-label>Password</mat-label>
					<input matInput type="password" autocomplete="current-password" [formControl]="passwordControl" />
				</mat-form-field>
				<div class="airtable-credentials-dialog__actions">
					<button mat-button type="button" [disabled]="loading()" (click)="onSkip()">Skip</button>
					<button mat-flat-button type="button" [disabled]="loading()" (click)="onSubmitCredentials()">
						@if (loading()) {
							<mat-spinner diameter="20" />
						} @else {
							Sign in
						}
					</button>
				</div>
			</form>
		}
		@case ('progress') {
			<div class="airtable-credentials-dialog__progress">
				@if (loading()) {
					<mat-progress-bar mode="indeterminate" />
				}
				<ul class="airtable-credentials-dialog__steps">
					@for (step of progressSteps(); track step; let last = $last) {
						<li class="airtable-credentials-dialog__step">
							@if (last && loading()) {
								<mat-spinner diameter="16" />
							} @else {
								<mat-icon class="airtable-credentials-dialog__step-done">check_circle</mat-icon>
							}
							<span>{{ step }}</span>
						</li>
					}
				</ul>
			</div>
		}
		@case ('mfa') {
			<form class="airtable-credentials-dialog__form">
				<p class="airtable-credentials-dialog__hint">Enter the MFA code from your authenticator app</p>
				@if (errorMessage()) {
					<div class="airtable-credentials-dialog__error">
						<mat-icon>error_outline</mat-icon>
						<span>{{ errorMessage() }}</span>
					</div>
				}
				<mat-form-field appearance="outline">
					<mat-label>MFA code</mat-label>
					<input matInput autocomplete="one-time-code" [formControl]="mfaCodeControl" />
				</mat-form-field>
				<div class="airtable-credentials-dialog__actions">
					<button mat-button type="button" [disabled]="loading()" (click)="onSkip()">Skip</button>
					<button mat-flat-button type="button" [disabled]="loading()" (click)="onSubmitMfa()">
						@if (loading()) {
							<mat-spinner diameter="20" />
						} @else {
							Verify
						}
					</button>
				</div>
			</form>
		}
		@case ('success') {
			<div class="airtable-credentials-dialog__result">
				<mat-icon>check_circle</mat-icon>
				<p>Cookies saved successfully</p>
			</div>
		}
	}
</mat-dialog-content>
